# ========================
# Build
# ========================
target/
build/

# ========================
# Maven Wrapper
# ========================
.mvn/wrapper/maven-wrapper.jar

# ========================
# Logs
# ========================
*.log

# ========================
# IntelliJ IDEA (controlado)
# ========================
.idea/*
!.idea/codeStyles/
!.idea/codeStyles/*
!.idea/runConfigurations/
!.idea/runConfigurations/*
!.idea/vcs.xml

*.iml
*.iws
*.ipr

# ========================
# VS Code
# ========================
.vscode/

# ========================
# Eclipse / STS
# ========================
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# ========================
# NetBeans
# ========================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# ========================
# OS Files
# ========================
.DS_Store
Thumbs.db

# ========================
# Env / Secrets
# ========================
.env
.env.*

# ========================
# Optional
# ========================
!.mvn/wrapper/maven-wrapper.properties